html,
body,
#vid {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
th, td {
  height: 14%;
  position: relative;
}
td.label {
  border-top: 1px solid #ccc;
  width: 25%;
}
td.num {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: center;
  width: 25%;
}
.progress-wrapper {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.round-progress-wrapper {
  display: block;
  margin: 0 auto;
  z-index: 5;
}
.pbtn {
  display: block;
  margin: 0 auto;
  width: 18px;
  z-index: 6;
}
th.logo_wrap {
	background: #0078c7 url(images/logo_bg.jpg) no-repeat 50% 50%;
	background-size: cover;
}
h1.logo a {
	background: url(images/logo.png) no-repeat 0 0;
	display: block;
	margin: 0 auto;
	outline: none;
	text-indent: -9999px;
	width: 204px;
	height: 26px;
}
.btn_play {
	background: url(images/button_play_arrow.png) no-repeat 0 0;
	display: block;
	outline: none;
	text-indent: -9999px;
	width: 12px;
	height: 18px;
	position: absolute;
	top: 7px;
	left: 49%;
	z-index: 10;
}
.btn_pause {
	background: url(images/button_pause.png) no-repeat 0 0;
	display: block;
	outline: none;
	text-indent: -9999px;
	width: 12px;
	height: 18px;
	position: absolute;
	top: 8px;
	left: 48.5%;
	z-index: 10;
}
.speedo_wrap {
	background: url(images/bg_ac.jpg) no-repeat 0 0;
	background-size: cover;
	padding: 20px;
	position: relative;
}
.speedo_wrap.ad_wrap {
	background: url(images/bg_ad.jpg) no-repeat 0 0;
	background-size: cover;
}
.speedo_wrap h2 {
	color: #000;
	font-size: 30px;
	font-weight: 700;
	line-height: 34px;
	margin: 10px 0 25px;
	text-align: center;
}
.speedo_wrap h2 span {
	font-weight: 400;	
}
.speedo_wrap h3 {
	color: #000;
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	margin: -20px 0 10px;
	text-align: center;
	text-transform: uppercase;
}
.speedo_wrap h3 span {
	display: block;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}
.router_icon {
	display: none !important;
	width: 76px;
	height: 77px;
	position: absolute;
	right: 0;
	bottom: 10px;
}
.speedo_wrap input {
	background: none;
	border: none;
	color: #000;
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: auto;
}
.heading .head_label {
	background: #17467a;
	color: #FFF;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	padding: 20px; 
	text-transform: uppercase; 
	position: relative;
}
.heading .head_label.label_ad {
	background: #2976cb;
	text-align: center;
}
.heading .head_label span.down_arrow {
	background: url(images/arrow_blue.png) no-repeat 0 0;
	display: block;
	width: 19px;
	height: 10px;
	position: absolute;
	bottom: -9px;
	left: 49%;
	z-index: 9;
}
.heading .head_label.label_ad span.down_arrow {
	background: url(images/arrow_blue.png) no-repeat 0 0;
}
.heading .head_label.label_ac {
	text-align: center;
	background: #761e66;
}
.heading .head_label.label_ac span.down_arrow {
	background: url(images/arrow_red.png) no-repeat 0 0;
}
.heading .head_label.label_n {
	background: #e46f00;
	text-align: center;
}
.heading .head_label.label_n span.down_arrow {
	background: url(images/arrow_orange.png) no-repeat 0 0;
}
td.label {
	color: #000;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	padding: 30px 20px;
}
td.label .title {
	color: #000;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}
td.label .icn {
	background: url(images/icon_pdf.png) no-repeat 50% 10px;
	display: block;
	float: left;
	margin-right: 20px;
	width: 34px;
	height: 50px;
}
/*
td.label .icn.pdf {
	background: url(images/icon_pdf.png) no-repeat 50% 10px;
}
*/
td.label .icn.ebook {
	background-image: url(images/icon_ebook.png);
}
td.label .icn.photo {
	background-image: url(images/icon_photo.png);
}
td.label .icn.song {
	background-image: url(images/icon_songs.png);
}
td.label .icn.hdmovie {
	background-image: url(images/icon_hd.png);
}
td.label .icn.fourk {
	background-image: url(images/icon_4k.png);
}
td.num {
	color: #2976cb;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	padding: 30px 15px;
}
td.num.ac {
	background: #FFF url(images/ad_tdbg.jpg) no-repeat 0 0;
	position: inherit;
}
td.num span {
	display: block;
	font-size: 18px;
	line-height: 22px;
}
td.num.ad {
	color: #761e66;
}
td.num.eth {
	color: #e46f00;
}